.square {
  width: 100px;
  height: 100px;
  margin: auto 1px;
  border: 1px solid black;
  display:inline-block;
}

.board {
  height: 100%;
  margin: 150px;
  border: 2px solid violet;
  text-align: center;
}

.o {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("../images/nought.png");
}

.x {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("../images/cross.png");
}

.owins {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: greenyellow;
  background-image: url("../images/nought.png");
}

.xwins {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: greenyellow;
  background-image: url("../images/cross.png");
}
